body {
  background-color: aliceblue;
  margin: 0;
  font-family: Georgia, Times, 'Times New Roman', serif;

}

main {
  padding-top: 50px;

}

#nav-bar {
  background-color: #0a0a00d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  font-family: Verdana, sans-serif;
  height: 45px;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 500px;
  box-shadow: 0 0 4px 6px;
}


a {

  color: #6b8c97;
  text-decoration: none;
  padding: 10px 10px;
  /* height: 80%; */
  align-items: center;
}

a:hover {
  background-color: black;
  color: rgb(242, 140, 6);
  border-radius: 10%;
  box-shadow: 0 0 4px 4px;
  /* height: 45px; */
  /* height: 70%; */
  text-decoration: underline;

}

#logo {
  float: left;
  position: fixed;
  background-color: antiquewhite;
}

#logo:hover {
  background-color: rgb(255, 157, 29);
  color: rgb(242, 140, 6);
  border-radius: 10%;
  box-shadow: 0 0 4px 4px;
}

#sec-home-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

#sec-home-1-para {
  height: 350px;
  overflow: scroll;
  flex-basis: 45%;
  font-size:3cap;
  /* padding-top: 20%; */
  text-align: center;
  margin-top: 20%;
  box-shadow: 0 0 10px 40px #d5e0ea;
  background-color: #d5e0ea;
}

#sec-home-1-img {
 margin-top:10%;
  border-radius: 50%;
  height: 100%;
  flex-basis: 45%;
  box-shadow:0 0 40px 20px black;
}
#about-value{
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  
 align-items: center;
 justify-content: center;
}
#about-value-img{
  flex-basis: 20%;
  align-content:end;
  border-radius: 30%;
  height: auto;
  box-shadow: 0px 0px 50px 50px;
}
#about-value-para{
  flex-basis: 40%;
}
#core-value{
  list-style-type:none;
  background-color: #504949;
  color:#8c9a9f;
  margin:0;
  box-shadow: 0 0 8px 16px #504949;
  border-radius: 5px;
}
#core-value:hover, #core-value-head:hover{
  box-shadow: 0 0 8px 8px rgb(255, 136, 0);
}

.core-value-item{
  letter-spacing: 2px;
  padding: 10px;
  font-size: 2cap;
  font-family:sans-serif;
}
#core-value-head{
  background-color: rgba(0, 0, 0, 0.799);
  color:aliceblue;
  font-size: 3cap;
  border-radius:20px 20px 0 0;
}
#about-cert{
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  flex-direction: row;
 align-items: center;
 justify-content: center;
 margin:40px;
 
}

#about-cert-img{
  flex-basis: 30%;
  align-content:end;
  border-radius: 30%;
  height: auto;
  box-shadow: 0px 0px 50px 50px;
}
#about-cert-para{
  flex-basis: 40%;
}
#core-cert{
  list-style-type:none;
  background-color:#391821da;
  color:#8c9a9f;
  margin:0;
  box-shadow: 0 0 8px 16px #391821da;
  border-radius: 5px;
}
#core-cert:hover, #core-cert-head:hover{
  box-shadow: 0 0 8px 8px rgb(255, 136, 0);
}

.core-cert-item{
  letter-spacing: 2px;
  padding: 10px;
  /* font-size: 1cap; */
  font-family:sans-serif;
}
#core-cert-head{
  background-color: #391821;
  color:aliceblue;
  font-size: 3cap;
  border-radius:20px 20px 0 0;
}
#social-media{
  list-style-type: none;
  display: flex;
  justify-content:right;
  background-color: rgba(35, 32, 28, 0.937);
  color:rgb(203, 219, 219);
  
 
 
}
.social-media{
  margin:10px;
  text-align: center;
  height: 100px;


}
footer{
  margin:0;
  padding:0;
}